.headerNav {
  border-bottom: solid 1px rgb(209, 206, 206);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 1));
}

.headerList {
  display: flex;
  gap: 20px;
  list-style: none;
}

.headerItem {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.headerItem:hover {
  color: tomato;
  text-decoration: underline 2px;
}
.headerItem:active {
  color: blue;
}
