.btnWrap {
  margin-bottom: 10px;
}

.btn {
  outline: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  color: black;
  padding: 0 10px;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  background-color: deepskyblue;
  color: white;
  outline: none;
}
